
        <div class="example-box" cdkDrag>
            <div *ngIf="info.token; else loggedOut">
                <h5 class="text-primary">Your Information</h5>
                <p>
                    <strong>Username:</strong> {{info.username}}<br/>
<!--                    <strong>Roles:</strong> {{info.roles}}<br/>-->
<!--                    <strong>Token:</strong> {{info.token}}.-->
                </p>
                <button class="btn btn-danger" (click)="logout()">Logout</button>
            </div>
            <ng-template #loggedOut>
                Please login.
            </ng-template>
        </div>
        <app-list-song></app-list-song>
<!--        <a  routerLink="/uploadfile"style="color: mediumvioletred; margin-left: 10px;text-decoration: none;" class="docs-button mat-raised-button" mat-raised-button=""-->
<!--           tabindex="0" aria-disabled="false"-->
<!--        ><mat-icon aria-hidden="false" aria-label="Example home icon">star half</mat-icon>-->
<!--            <span-->
<!--                    class="mat-button-wrapper">Upload File</span>-->

<!--            &lt;!&ndash;            <div class="mat-button-ripple mat-ripple" matripple=""></div>&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="mat-button-focus-overlay"></div>&ndash;&gt;-->
<!--        </a>-->


